.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.search-container h1 {
  color: black;
  font-weight: 900;
  font-size: 60px;
}

.form-container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */

  width: 90%;
}

.form-container input[type="text"] {
  width: 80%;
  font-size: 20px;
  padding: 0 30px;
}

.form-container input[type="submit"] {
  background-color: steelblue;
  width: 120px;
  color: #fff;
  font-size: 18px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-container input {
  border-radius: 2rem;
  border-width: 2px;
}
